/* itemsComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.items {
    list-style-type: none;
}

.items li {
    background-color: lightgray;
    border: 1px solid lightslategray;
}

.items li:hover {
    background-color: #EEE;
}

.items .badge {
    width: 20px;
    min-height: 20px;
    border-radius: 0px;
}